@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Josefin Sans";
}

body {
  background-color: #e4e8e3;
}

h1 {
  font-size: 20px;
  font-weight: 300;
}
h2 {
  font-size: 16px;
  font-weight: 700;
}

.displaycards {
  display: flex;
  justify-content: center;
  align-items: center;
}
grossSalary {
  color: black;
}
